.work-title {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-color);
}

.work-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.work-item {
  width: 100%;
  margin: 2rem;
  position: relative;
  right: 2em;
}

.work-item img {
  width: 100%;
  padding: 3em;
  display: block;
  margin: auto;
}

.awdc-image img {
  padding: 8rem 4rem 8rem 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  line-height: 1.3;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}

.pv-content {
  background-color: rgba(213, 175, 52, 0.8);
  border-radius: 5em;
  transition: 0.6s;
  opacity: 0;
}

.awdc-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 188, 201, 0.8);
  border-radius: 5em;
  opacity: 0;
  transition: 0.6s;
}

.content:hover,
.pv-content:hover,
.awdc-content:hover {
  opacity: 1;
}

.content h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0.5em;
  text-align: center;
}

.content p {
  font-size: 1.5rem;
  color: #fff;
}

.content .work-button {
  margin-top: 2em;
}

.content,
.pv-content,
.awdc-content > * {
  transform: translateY(1em);
  transition: transform 0.6s;
}

.content:hover,
.pv-content:hover,
.awdc-content:hover > * {
  transform: translateY(0);
}
