.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 20em auto;
  padding: 3em;
  margin-bottom: 4em;
}

.intro {
  margin-bottom: 3em;
}

.headline {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.headline h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 0.3em;
  overflow: hidden;
  white-space: pre;
  position: relative;
}

.headline h1::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 1em;
  margin-left: 5px;
  background-color: var(--main-color);
  animation: blink-caret 0.85s step-end infinite;
  position: absolute;
  vertical-align: bottom;
}

.tagline {
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 300;
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  overflow: hidden;
  position: relative;
  animation: reveal 2s forwards;
  animation-delay: 1s;
}

.highlight {
  color: var(--main-color);
}

.cta {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  overflow: hidden;
  position: relative;
  animation: reveal 2s forwards;
  animation-delay: 2s;
}

.cta-button {
  width: 40%;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  margin: 1em 0 0 0;
  border-radius: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes blink-caret {
  0% {
    background-color: var(--main-color);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--main-color);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
