.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-bottom: 6em;
}

.headline {
  font-size: 2.5rem;
}

.headline h1 {
  font-size: 7rem;
  line-height: 1.1;
}

.headline .tagline {
  font-size: 2.3rem;
  width: 50%;
  line-height: 2;
}

.highlight {
  color: var(--main-color);
}

.cta {
  display: flex;
  flex-direction: row;
}

.cta-button {
  font-size: 1.3rem !important;
  padding: 1.6rem 3.2rem 1.6rem 3.2rem !important;
  margin: 2em 2em 0 0;
}
