.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 5em;
  /* margin-top: -6em; */
  margin-bottom: 6em;
}

/* .intro {
  height: 275px;
} */

.headline {
  font-size: 2.5rem;
}

.headline .tagline {
  font-size: 2.3rem;
  width: 50%;
  /* margin-top: -1.5em; */
  line-height: 2;
}

.highlight {
  color: var(--main-color);
}

.cta {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 25%; */
}

.cta-button {
  font-size: 1.3rem !important;
  padding: 1.6rem 3.2rem 1.6rem 3.2rem !important;
  margin: 2em 2em 0 0;
}
