.testimonial {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 2em;
  background-color: var(--secondary-color);
  color: #f7f7f7;
}

.testimonial-title {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 1em;
}

.client-highlight {
  color: var(--secondary-color);
  background-color: var(--main-color);
}

.review-list .review:not(:first-child) {
  margin-top: 2em;
}

.testimonial .review div {
  font-weight: 300;
}

.review-client {
  margin: 2rem 0 0 1rem;
}

.review-client-name {
  font-style: none;
  font-weight: 600;
  color: var(--main-color);
}
