.testimonial {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: var(--secondary-color);
  color: #f7f7f7;
}

.testimonial-title {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 1em;
}
