.navbar-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: inset 0px -3px 5px -5px rgba(255, 255, 255, 0.5);
  z-index: 1000;
  font-size: 1.5rem;
  padding: 1em 0 0.5em 0;
  color: var(--secondary-color);
  transition: top 0.3s ease-in-out;
}

.navbar-container.hidden {
  top: -100px;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 5em;
  color: var(--main-color);
}

.logo img {
  height: 100%;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 2em;
  margin-left: 1em;
}

.logo p {
  display: none;
  position: relative;
  width: 100%;
  font-size: 2rem;
}

.logo-title {
  color: #fff;
  font-size: 2rem;
}

.logo-punctuation {
  color: #5bc0eb;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 70%;
  height: 100vh;
  position: absolute;
  top: 80px;
  left: -500%;
  opacity: 1;
  transition: all 2s ease;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-size: 4rem;
  font-weight: 500;
  background-color: #fff;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-item {
  padding: 0em;
  margin: 0em;
}

.nav-link {
  display: flex;
  padding: 0.4em 0.4em 0.4em 0;
}

.menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20%, 20%);
  font-size: 3rem;
  font-weight: 100;
  cursor: pointer;
  border-radius: 100%;
  padding: 0.8em;
}

.fa-times {
  font-size: 2rem;
}

.contact-nav-button {
  display: none;
}

.contact-cta-button {
  display: none;
}

.mobile-contact-button {
  display: block;
}
