* {
  box-sizing: border-box;
}
:root {
  --main-color: #5bc0eb;
  --secondary-color: #1e1e24;
  --alt-font-color: #828282;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
}
